/* .bg-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('./images/image1.jpg');
} */
.LS-form{
    
    margin-right: 100px;
}
.form{
    background-color: rgba(255,255,255,0.33) ;
  box-shadow: 10px 10px 62px 0 rgba(90,100,255,0.33);
    backdrop-filter: blur(5px);
    width: fit-content;
    height: fit-content;
    height: 55%;
    width: 100%;    
    border-radius: 16px;
    padding-top: 30px;
    padding-right: 100px;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 26px;
    color: rgb(97, 203, 182);
    font-size: 30px;


}
.google{ 
    cursor: pointer;

}